<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=contain">
    <link rel='stylesheet' href='/styles/template.css'/>
</head>

<body class="page">

<div class="page__content">
    <div class="page__header">
        <h1 class="title title_size_h1">{{ title }}</h1>

        {% embed './include/search.twig' %}{% endembed %}
    </div>

    {% block content %}{% endblock %}

    {% embed './include/notes.twig' %}{% endembed %}

    <p class="print-date">Дата создания страницы: {{ "now"|date("d.m.Y  H:i", "Europe/Moscow") }}</p>
</div>

{% embed './include/modal.twig' %}{% endembed %}


<script src="/scripts/bundle.js"></script>
</body>

</html>

