<div class="form form_type_search print-hide">
    <input type="search" class="form__input_type_text" placeholder="Поиск по фамилии" data-search-target="last-name">
    <i class="fas fa-search form__icon"></i>
</div>