.form {
    &__element {
        padding-bottom: 20px;
        display:        flex;
        align-items:    center;
    }

    &__label {
        padding-right: 20px;
        text-align:    right;
        width:         150px;
        &:after {
            content: ":";
        }
    }

    &__input {
        flex-grow: 1;

        &_type_text {
            padding:       5px 0;
            font:          inherit;
            outline:       none;
            border:        none;
            border-bottom: 1px solid #ddd;
            &:focus {
                border-color: @primary-background;
            }
        }
        &_invalid {
            border-color: #b71c1c;
        }
    }
    &__button {
        margin: 0;
        + .form__button {
            margin: 0 0 0 5px;
        }
    }

    &__footer {
        display:     flex;
        padding-top: 20px;
    }
}

@media (max-width: @screen-size-mobile) {
    .form {
        &__element, &__footer {
            flex-direction: column;
        }

        &__label {
            width:      100%;
            padding:    5px 0;
            text-align: left;
        }

        &__input {
            width: 100%;
        }

        &__button, &__button + &__button {
            margin: 5px 0 0;
        }
    }

}