.title {
    font-family: @heading-font-family;
    font-weight: 300;
    margin:      .5em 0;

    &_size_h1 {
        font-size: @font-size-h1;
    }

    &_size_h2 {
        font-size: @font-size-h2;
    }

    &_size_h3 {
        font-size: @font-size-h3;
    }
}


@media print {
    .title_size_h1 {
        font-size: @font-size-h2;
    }
}